In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load the dataset using the right encoding and seperator
df = pd.read_csv("../data/raw/IMDB-movie-reviews.csv", encoding="cp1252", sep=";")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
# Check the structure of the data (rows, columns)
print(df.shape)
print(df.columns)

(100, 2)
Index(['review', 'sentiment'], dtype='object')

In [4]:
# Check for missing values
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [18]:
# Check for duplicated rows
df.duplicated().sum()

np.int64(0)

In [5]:
# Check class distribution
df['sentiment'].value_counts()

sentiment
negative    58
positive    42
Name: count, dtype: int64

In [15]:
# Add column for review length (number of words)
df["review_length"] = df["review"].str.split().str.len()

In [17]:
# Compare average and max review length by sentiment
print("Average review length by sentiment:\n")
print(df.groupby("sentiment")["review_length"].mean().astype(int))

print("\nMax review length by sentiment:\n")
print(df.groupby("sentiment")["review_length"].max())

Average review length by sentiment:

sentiment
negative    200
positive    273
Name: review_length, dtype: int64

Max review length by sentiment:

sentiment
negative    608
positive    707
Name: review_length, dtype: int64