In [1]:
import pandas as pd
from transformers import pipeline

d:\Emotion evaluator\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
# Load dataset
df = pd.read_csv("../data/raw/IMDB-movie-reviews.csv", encoding="cp1252", sep=";")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
# Initiate sentiment analysis pipeline
db_classifier = pipeline("sentiment-analysis", model="siebert/sentiment-roberta-large-english", truncation=True)

Device set to use cpu

In [ ]:
# Convert the "review" column to a list of strings
reviews = df['review'].tolist()

In [ ]:
# Get sentiment predictions for each review
predicted_results = db_classifier(reviews)

In [9]:
print(predicted_results[0])

{'label': 'POSITIVE', 'score': 0.9988124370574951}

In [ ]:
# Extract predicted sentiment labels and scores for each prediction
predicted_labels = [result["label"].lower() for result in predicted_results] # Convert to lowercase to match true labels
predicted_scores = [result["score"] for result in predicted_results]

In [ ]:
# Add predicted sentiment labels and scores to the DataFrame
df["predicted sentiment"] = predicted_labels
df["sentiment score"] = predicted_scores

In [12]:
df.head()

,review,sentiment,predicted sentiment,sentiment score
0,One of the other reviewers has mentioned that ...,positive,positive,0.998812
1,A wonderful little production. <br /><br />The...,positive,positive,0.998934
2,I thought this was a wonderful way to spend ti...,positive,positive,0.998935
3,Basically there's a family where a little boy ...,negative,negative,0.999504
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,positive,0.998884

In [ ]:
# Output full DataFrame to CSV
df.to_csv("../data/processed/roberta_IMDB_movie_reviews.csv", index=False)

### CSV output

In [ ]:
# Create new DataFrame with only the review text and its sentiment score
output_df = df[["review", "sentiment score"]]
output_df.head()

                                              review  sentiment score
0  One of the other reviewers has mentioned that ...         0.998812
1  A wonderful little production. <br /><br />The...         0.998934
2  I thought this was a wonderful way to spend ti...         0.998935
3  Basically there's a family where a little boy ...         0.999504
4  Petter Mattei's "Love in the Time of Money" is...         0.998884

In [ ]:
# Output new DataFrame to CSV
output_df.to_csv("../data/processed/roberta_IMDB_movie_reviews_sentiment_scores.csv", index=False)